#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.122.1 --ip=192.168.122.13 --nameserver=192.168.122.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=static --device=eth1 --gateway=192.168.122.1 --ip=192.168.122.23 --nameserver=192.168.122.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=san

# Root password
rootpw --iscrypted $6$mSsiyL8fmoNPWh3J$zOcakjBmP9FKyJtNv3f9tLs/ZeeHNIYioR3.gfQVh4morJwGLAh8sNOIH/4zGqO51rabgmap6TtWGV7rCqJxZ1
# System services
services --enabled="chronyd"
# System timezone
timezone America/Chicago --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=vda --size=1024
part / --fstype="xfs" --ondisk=vda --size=8703
part /boot --fstype="xfs" --ondisk=vda --size=512

%packages
@^minimal
@core
chrony
kexec-tools
net-tools
telnet
vim
nmap
bash-completion

%end

reboot

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
yum update -y
reboot

%end
